.App {
    text-align: center;
}

.playerlist {
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 0 15px;
    justify-items: center;
    grid-gap: 25px;
}

.player-card {
    width: 75%;
    padding: 3%;
}

.player-card h1,
.player-card h2 {
    font-size: 16px;
}

.special-button {
    background-color: goldenrod;
    padding: 15px 10px;
    border-radius: 10px;
    cursor: pointer;
    margin: 100px 0 20px 0;
    border: none;
}

.special-button:hover {
    background-color: gold;
}

.special-theme {
    background-image: radial-gradient(
        circle farthest-corner at 10% 20%,
        rgba(222, 168, 248, 1) 0%,
        rgba(168, 222, 248, 1) 21.8%,
        rgba(189, 250, 205, 1) 35.6%,
        rgba(243, 250, 189, 1) 52.9%,
        rgba(250, 227, 189, 1) 66.8%,
        rgba(248, 172, 172, 1) 90%,
        rgba(254, 211, 252, 1) 99.7%
    );
}
